<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="flex   bg-[#a7f3d0] p-6">
        <div class="flex text-white mr-6 flex-wrap items-center justify-between  ">
          <span class="font-semibold text-3xl tracking-tight ">DAILY BLOG</span>
        </div>
      <div class="w-full block  lg:w-auto flex space-x-4 ">
        <div class="text-sm space-x-4  flex ">
          <a href="/" class="block text-xl lg:inline-block lg:mt-0 text-gray-500 hover:text-white mr-4  cursor-pointer ">
            HOME
          </a>
          <a href="/about" class="block text-xl lg:inline-block lg:mt-0 text-gray-500 hover:text-white mr-4  cursor-pointer">
            ABOUT 
          </a>
          <a href="/contact" class="block text-xl lg:inline-block lg:mt-0 text-gray-500 hover:text-white  cursor-pointer">
            CONTACT 
          </a>
          <a href="/compose" class="block text-xl lg:inline-block lg:mt-0 text-gray-500 hover:text-white cursor-pointer">
            CREATE
          </a>
        </div>
      </div>

    <!-- <div class=" mx-8">

      <input class="font-medium text-gray-500 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none  rounded-lg  bg-[#a7f3d0] hover:bg-[#ecfdf5]" id="username" type="text" placeholder="Search Blogs" >
    </div> -->
  </nav>
  <body class="bg-[#ecfdf5]">
   
    <!-- <div class="container "> -->