<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="flex items-center  bg-[#334155] p-6">
    <div class="flex items-center flex-shrink-4 text-white mr-6">
      <span class="font-semibold text-xl tracking-tight">DAILY BLOG</span>
    </div>
    <div class="w-full block  lg:w-auto j">
      <div class="text-sm space-x-4   ">
        <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4 border-black border-b cursor-pointer ">
         HOME
        </a>
        <a href="/about" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4 border-black border-b cursor-pointer">
          ABOUT 
        </a>
        <a href="/contact" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white border-black border-b cursor-pointer">
          CONTACT 
        </a>
        <a href="/compose" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white border-black border-b cursor-pointer">
            CREATE
        </a>
      </div>
    </div>
  </nav>
  <body class="bg-slate-100 ">
   
    <!-- <div class="container "> -->