<%- include("partials/header") %> 

      <h1 class="text-4xl py-4 text-center">ABOUT</h1>
    <div class="flex rounded-md shadow-lg py-4 px-2 mx-16">
        <p><%=  about %> </p>
    </div>
    


<%- include("partials/footer") %> 