<%- include("partials/header") %> 
<div class="flex justify-center py-4 bg-[#ecfdf5]">
    <div class="rounded-lg shadow-lg bg-white max-w-sm">
      <a href="#!">
        <img class="rounded-t-lg" src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" alt=""/>
      </a>
      <div class="p-6">
        <h5 class="text-gray-900 text-xl font-medium mb-2">Card title</h5>
        <p class="text-gray-700 text-base mb-4">
          Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <button type="button" class=" cursor-pointer my-2 mx-4 shadow-sm shadow-black rounded-lg hover:shadow-inner hover:shadow-gray-400 p-1">Button</button>
      </div>
    </div>
  </div>


<%- include("partials/footer") %> 