<%- include("partials/header") %> 
<div class="flex justify-center py-6 bg-[#ecfdf5]">
    <div class="rounded-md shadow-lg bg-white max-w-sm">
      <a href="#!">
        <img class="rounded-t-lg" src="https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=900&t=st=1671200333~exp=1671200933~hmac=876209bd3321f1e0e57a0b8a47e6374f3140f03d1b584ac3be57efa76214d142" alt=""/>
      </a>
      <div class="p-6">
        <h5 class="text-gray-900 text-xl font-medium mb-2">Building</h5>
        <p class="text-gray-700 text-base mb-4">
          we are building this appplication! to know more 
          Press Contact
        </p>
        <a type="button" href="https://github.com/Ayush0054"  class=" cursor-pointer my-2 mx-4 shadow-sm shadow-black rounded-lg hover:shadow-inner hover:shadow-gray-400 p-1">Contact</a>
      </div>
    </div>
  </div>


<%- include("partials/footer") %> 