<%- include("partials/header") %> 
<div class="mx-16">

       <h1 class="text-4xl py-4"><%=title%></h1>
       <p><%=content%></p>
       <!-- <button type="submit"  class="cursor-pointer my-2 mx-4 shadow-sm shadow-black rounded-lg hover:shadow-inner hover:shadow-gray-400 p-1 ">delete</button> -->
</div>

<%- include("partials/footer") %> 