<%- include("partials/header") %> 
<h1 class="text-4xl py-4"><%=title%></h1>
       <p><%=content%></p>
       <button class="cursor-pointer my-2 mx-4 shadow-sm shadow-black rounded-sm hover:shadow-inner hover:shadow-gray-400  ">delete</button>

<%- include("partials/footer") %> 